<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>목록 페이지</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>제목</th>
				<th>작성일자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="question, index : ${questionlist}">
				<td>
					<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
				</td>
				<td th:text="${question.createDate}"></td>
				
				<!-- <td>[[${question.subject}]]</td>
				<td>[[${question.createDate}]]</td> -->
			</tr>
		</tbody>
	</table>
</body>
</html>