<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>상세 페이지</title>
</head>
<body>
	<h1 th:text="${question.subject}"></h1>
	<div th:text="${question.content}"></div>

	<!-- #lists.size(객체) 객체의 길이를 반환 -->
	<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
	<div>
		<ul>
			<li th:each="answer : ${question.answerList}"
				th:text="${answer.content}"></li>
		</ul>
	</div>
	
<!-- 전송 방식 : post, URL 매핑: /answer/create/{자바 객체}, content -->
	<form th:action="@{|/answer/create/${question.id}|}" method="post">
		<textarea name="content" id="content" cols="30" rows="3"></textarea>
		<input type="submit" value="답변등록">
	</form>
</body>
</html>